@font-face {
    font-family: "Dosis";
    font-weight: 0 900;
    src: url('../fonts/dosis-variablefont_wght-webfont.woff2') format('woff2-variations'),
    url('../fonts/dosis-variablefont_wght-webfont.woff') format('woff-variations');
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Spartan',sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container  */
main{
    width: 100%;
}

/* Navbar work   */
.navbar{
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);;
}
.nav {
    display: flex;
    justify-content: center;
}
.nav li {
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 50px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: rgb(221, 146, 8);
    text-decoration: underline;
    cursor: pointer;
}

.offcanvas-nav {
    display: none;
}

.logo img {
    height: 95px;
    width: 95px;
}

.container img {
    height: 50px;
    width: 50px;
}

.sidebar img {
    height: 100px;
    width: 100px;
}

.btn {
    top: 20px;
    left: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ffffff;
}

#closeBtn {
    border: none;
    outline: none;
    background-color: #f8f9fa;
}

.offcanvas {
    position: fixed;
    top: 0;
    right: -500px; /* Initially off-canvas */
    height: 100vh;
    width: 500px;
    background-color: #ffffff;
    transition: right 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.offcanvas-header {
    padding: 10px;
    background-color: #f8f9fa;
}

.offcanvas-body {
    padding: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

.link {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.links img {
    height: 20px;
    width: 20px;
    margin-right: 7.5px; /* Add margin for spacing between image and text */
}

.links a {
    padding-top: 10px;
    text-decoration: none; /* Remove underline from links */
}

.info {
    padding-top: 10%;
}

.info h3 {
    padding-bottom: 25px;
    color: red;
}

.info p {
    padding-top: 7.5px;
    color: rgb(145, 97, 94);
}

/* Styling for smaller screesns */
@media only screen and (max-width: 845px) {

    .nav {
        display: none; 
    }

    .navbar {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .offcanvas {
        right: 0; 
    }

    .sidebar img {
        padding-bottom: 50px;
        height: 200px;
        width: 100px;
    }

    .offcanvas-nav {
        display: contents;
    }

    .offcanvas-nav, .links, .info {
        padding-top: 75px; 
    }

    .offcanvas-nav li {
        list-style-type: none;
        padding-top: 5px;
    }

    .nav a, .links a {
        padding: 10px 0; 
        text-align: center;
    }
    .links{
        padding-top: 15%;
    }
    .links img {
        margin-right: 0; 
    }
    .info{
        padding-top: 5%;
    }
}

/* Header Container work  */
.header-container{
    width: 100%;
}
.header-wrapper{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-header-info{
    flex-basis: 45%;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-left: 60px;
}
.left-header-info > h1{
    font-size: 3em;
    font-weight: 900;
    color: white;
}
.left-header-info > button{
    width: 150px;
    color: white;
    background-color: #ffa41d;
    padding: 16px 10px;
    border-radius: 50px;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
}
.left-header-info > button:hover{
    background-color: #c6760e;
}
.right-header{
    width: 45%;
    display: flex;
    justify-content: center;
}
.right-header:hover {
    transform: rotate(-5deg);
    transition: 0.8s;
}
.right-image-wrapper{
    position: relative;
    transition: 0.8s;
}
.left-header-info:hover + .right-header {
    transform: rotate(-5deg);
    transition: 0.8s;
}
.right-image-wrapper img{
    width: 300px;
    height: 400px;
    border: 8px solid white;
    transform: rotate(5deg);
}
#header-img-absolute{
    position: absolute;
    left:4%;
    top:5%;
    z-index: 1;
}

/* Features Work  */
.features {
    background-color: lightgreen;
    width: 100%;
    
}
.features h1, .features p, .features h3 {
    font-family: 'Dosis', sans-serif; 
}
.craftbeer {
    text-align: center;
}
.featureImages1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 0%;
}

.featureImages1 img {
    width: 100%;
    height: auto;
}

/* Brand Container work  */
.brand-container{
    background-color: white;
    width: 100%;
}

.brand-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 10px;
    background-image: url(/images/bg-03.jpg);
    background-size: cover;
}

.brand-header p {
    color: red;
}

.brand-header h1 {
    font-size: 3.3rem;
}

.brand-header button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 333px;
    margin-top: 5px;
    background-color: orange;
    color: #ffffff;
}

.brand-header button:hover {
    cursor: pointer;
    background-color: rgb(192, 126, 4);
}

.beer-brands {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}

.beer-brands img {
    width: 150px;
    height: 150px;
    opacity: 50%;
}

.beer-brands img:hover {
    opacity: 100%;
}

.beer-brands h2 {
    text-wrap: wrap;
    font-size: 3rem;
    font-weight: bold;
}

/* Event Container Work */
.event-container{
    background-color: blueviolet;
    width: 100%;
}

/* Festival container work  */
.festival-container{
    background-color: coral;
    width: 100%;
}

/* Follow Us page work  */
.followUs-page{
    background-color: aquamarine;
    width: 100%;
}

/* Footer work  */
footer{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px 0;
}
footer p{
    padding: 20px 0;
    font-size: 1rem;
}
.footer-img-container{
    display: flex;
    justify-content: space-around;
    gap:15px;
    padding: 10px;
}
.footer-img-container img{
    object-fit: cover;
    height: 150px;
    width: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    border: 3px solid white;
}
.footer-content-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.footer-content-links{
    color: white;
    font-size: 0.8rem;
}
.footer-content-links a{
    text-decoration: none;
    color: lightgray;
    margin-right: 10px;
}
.footer-features{
    display: flex;
    justify-content: center;
    gap:15px;
    height: 50px;
    color: white;
    margin: 30px 0;
}
.footer-features .fa-brands{
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-site{
    color: lightgray;
    font-size: 1rem;
    border-top:1px solid grey;
    padding: 20px 0;
    width: 95%;
    margin: 0 5%;
}

/* Media query start  */
@media (max-width:991px){
    .footer-img-container{
        flex-wrap: wrap;
    }
    .footer-img-container img{
        height: 250px;
        width: 300px;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .beer-brands {
        flex-wrap: wrap;
    }
}
@media (max-width:800px){
    .right-image-wrapper img{
        width: 200px;
        height: 250px;
    }
    .left-header-info{
        margin-left: 30px;
        width: 80%;
    }
    .beer-brands {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media (max-width:600px){
    .header-wrapper{
        flex-direction: column;
        gap:20px;
    }
    .left-header-info{
        width: 80%;
        align-items: center;
        flex-basis: 37%;
    }
    .left-header-info > h1{
        font-size: 2em;
        text-align: center;
    }
}